<nav>
    <a href="/" class=<%= page === "index" ? "this-page" : ""; %>>Home</a>
    <a href="/about" class=<%= page === "about" ? "this-page" : ""; %>>About</a>
    <a href="/chat-room" class=<%= page === "chat-room" ? "this-page" : ""; %>>Chat Room</a>
    <a href="/me" class=<%= page === "me" ? "this-page" : ""; %>>Me</a>
</nav>