<nav>
    <a href="/" class=<%= path === "/"? "this-page" :""; %>>Home</a>
    <a href="/about" class=<%= path === "/about"? "this-page" :""; %>>About</a>
    <a href="/chat-room" class=<%= path === "/chat-room"? "this-page" :""; %>>ChatRoom</a>
    <a href="/me" class=<%= path === "/me"? "this-page" :""; %>>Me</a>
</nav>