h1{
    color: blue;
}
nav{
    background: grey;
    padding: 2vw;
}
nav a{
    color: blue;
    font-size: 2vw;
    text-decoration: none;
    padding-right: 2vw;
}
.this-page{
    font-weight: bold;
    color: wheat;
}